@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 스타일 */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-100: #f26e22;
  /* w, h */
  --header-height: 48px;
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 20, 20, 20;
  }
}

/* HTML의 기본 스타일을 정의하는 곳. 주로 기본 요소에 대한 초기 스타일링에 사용 */
@layer base {
  body {
    @apply m-0 h-full bg-white p-0 text-[#121212]; /* 기본 여백과 패딩 초기화, 기본 색상 */
    -webkit-font-smoothing: antialiased; /* 폰트 스무딩 */
    -moz-osx-font-smoothing: grayscale; /* 폰트 스무딩 */
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  p {
    @apply text-base;
  }
  ul {
    @apply list-none;
  }
  a {
  }
}

/* 재사용 가능한 UI 컴포넌트의 스타일을 정의하는 곳. 여러 곳에서 사용될 스타일을 여기서 정의 */
@layer components {
  .btn {
    @apply rounded bg-blue-500 px-4 py-2 text-white;
  }

  .flex-center {
    @apply flex w-full flex-col items-center;
  }

  .position-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .ellipis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap break-all;
  }

  .horizontal-scroll {
    @apply overflow-auto whitespace-nowrap;
  }
}

/* 작은 스타일 단위(유틸리티 클래스)를 정의. 필요에 따라 여러 곳에서 조합하여 사용 */
@layer utilities {
  .h-header {
    height: var(--header-height);
  }
  .h-calc-header-screen {
    height: calc(100vh - var(--header-height));
  }
  .text-balance {
    text-wrap: balance;
  }
  .margin-auto {
    margin: auto;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
